asgiref==3.8.1
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.3.2
colorama==0.4.6
Django==5.0.3
idna==3.6
pycparser==2.21
pypng==0.20220715.0
qrcode==7.4.2
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2024.1
urllib3==2.1.0
gunicorn==21.2
